<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
        <div class="generated-board-game">
            <div class="generated-board-game__wrapper layout__width">
                <div class="board-games__item">
                    <a href="/boardGames/<%= randomBoardGame[0]._id %>">
                        <h3 class="title"><%= randomBoardGame[0].title %></h3>
                        <p class="description"><%= randomBoardGame[0].description %></p>
                    </a>
                </div>
                <form action="/" method="post" class="board-games__form">
                    <button class="generate-button"><p>Generate</p></button>
                </div>
            </div>
        </div>
    </body>
</html>